:root {
  --theme-color: #1f3144;

  --body-bg-color: #181c27;

  --content-bg-color: #252d38;

  --link-color: #c4c6c9;

  --text-color: #c4c6c9;

  --blockquote-color: #c4c6c9;

  --highlight-background: #ddd;

  --link-hover-color: #30a9de;

  --menu-item-bg-color: rgba(#f5f5f5, .1);

  --btn-default-hover-bg: #fff;

  --btn-default-hover-border-color: #fff;

  --btn-default-border-color: #c4c6c9;

  --btn-default-bg: transparent;

  --btn-default-color: #c4c6c9;

  --btn-default-hover-color: #222;

  --card-bg-color: #f5f5f5;
}

.post-toc .nav .active > a {
    border-bottom-color: #30a9de;
    color: #30a9de;
}
.sidebar-toc-active .sidebar-nav-toc, .sidebar-overview-active .sidebar-nav-overview {
    border-bottom-color: #30a9de;
    color: #30a9de;
}

.menu-item a:hover, .menu-item a.menu-item-active {
    background: var(--menu-item-bg-color, .5);
}

.sidebar-nav li:hover {
    color: #30a9de;
}

code {
    background: rgba(62,75,94,0.5);
    color: #E8A0BF;
    border-radius: 3px;
    font-size: 0.875em;
    padding: 2px 4px;
    overflow-wrap: break-word;
}

figure.highlight {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
    color: #B93160;
}

.btn {
    border: 2px solid var(--btn-default-border-color);
    border-radius: 2px;
    color: var(--btn-default-color);
    display: inline-block;
    font-size: 0.875em;
    line-height: 2;
    padding: 0 20px;
    transition: background-color 0.2s ease-in-out;
}

.post-copyright {
    padding: 0.5em 1em;
    background: #fdf8ea;
    border-left: 3px solid #f0ad4e;
    margin: 1em 0 0;
    border-radius: 4px;
    color: #3c4858;
}

.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover {
    border-top-color: #ccc;
}

// Custom styles.
*::selection {
  background: rgba(#30a9de, .5);
}

.back-to-top:hover {
    color: #30a9de;
}

.posts-collapse .post-content .post-header:hover {
    border-bottom-color: var(--link-color);
    color: #30a9de;
}

.pagination .page-number {
    border-bottom: none;
    border-top: none;
    transition: border-color 0.2s ease-in-out;
}